<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.asus.yhh.ganalytics"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="18"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="com.asus.yhh.ganalytics.login.LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.asus.yhh.ganalytics.workspace.grouping.info.ResultActivity" >
        </activity>

        <!-- exceptions report widget start -->
        <receiver android:name="com.asus.yhh.ganalytics.widgets.report.exceptions.ExceptionsWidgetProvider" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_exceptions_report" />
        </receiver>

        <service
            android:name="com.asus.yhh.ganalytics.widgets.report.exceptions.ExceptionsWidgetListService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <activity android:name="com.asus.yhh.ganalytics.widgets.report.exceptions.ExceptionsWidgetConfigurationActivity" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <service android:name="com.asus.yhh.ganalytics.widgets.report.exceptions.ExceptionWidgetLoadingService" >
        </service>
        <!-- exceptions report widget end -->
    </application>

</manifest>